/*custom tomato red background*/
.red {
    background-color: rgba(255, 26, 10, 0.88);
  }
  
  /* enlarge size of text and change color*/
  .navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.75rem;
  }
  
  /* change size of sub-heading */
  .lead {
    font-size: 2rem;
  }
  
 
  /*custom tomato red text color*/
  .textRed {
    color: rgba(255, 26, 10, 0.88;
  }
  
  /* blurred text shadow around jumbotron text*/
  .guesswho {
      text-shadow: 2px 2px 8px #ff0000;
  }